@import url('https://fonts.googleapis.com/css?family=Gayathri|Livvic:400,600|Montserrat&display=swap');
@import "~react-image-gallery/styles/css/image-gallery.css";

/* font-family: 'Livvic', sans-serif;
font-family: 'Gayathri', sans-serif;
font-family: 'Montserrat', sans-serif; */

.App{
  position: relative;
}

/* ----------------------------------------------------------------- */

.nav{
  display: flex;
  overflow: hidden;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  background-color: rgb(0, 0, 0);
  transition:all 0.9s ease;

}
@keyframes swing
{
    15%
    {transform: translateX(3px);}
    30%
    {transform: translateX(-3px);}
    50%
    {transform: translateX(2px);}
    65%
    {transform: translateX(-2px);}
    80%
    {transform: translateX(1px);}
    100%
    {transform: translateX(0);}
}

.nav a:hover {
  animation: swing 1s ease;
  animation-iteration-count: .9s;
  text-decoration: none;
  border-radius: 10%;
  box-shadow: 
  1px 1px #14c01d,
  2px 2px #e5ff00,
  3px 3px #ee0000;
  transform: translateX(-1px);
}

.nav-links{
  padding-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: inherit;
  align-items: center;
  list-style: none;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 1.3px 1.3px #b19787f5;
}

#history-list{
  padding-top: 4rem;
  color: rgb(0, 0, 0);
  display: grid;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 3rem;
  padding: 30px 10px 10px 10px;
  font-size: 20px;
}
#culture-list{
  padding-top: 4rem;
  color: rgb(0, 0, 0);
  display: grid;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 3rem;
  padding: 30px 10px 10px 10px;
  font-size: 20px;
}

#each-event{
  color: rgb(255, 255, 255);
  display: block;
  height: auto;
  justify-content: space-between;
  padding: 10px 30px 12px;
  font-size: 15px;
  font-family: 'Gayathri', sans-serif;
  text-shadow: 1.2px 1.2px #000000;
}

#upcoming {
  color: rgb(204, 175, 175);
  display: block;
  height: auto;
  padding: 10px 30px 12px;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 1.2px 1.2px #4b1212cb;
  text-decoration-line: underline;
}

#event-title{
  font-size: 30px;
  color: #ffcbcb;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 1.2px 1.2px #1c0404cb;
}

.diaspora{
  padding-top: 1rem;
  display: grid;
  justify-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  background-color: #1f1d1d;
  color: rgb(255, 255, 255);
  text-shadow: 1.5px 1.5px #c06c37f5;
}

#diaspora-info{
  color: rgba(255, 255, 255, 0.728);
  display: grid;
  justify-content: space-between;
  margin-left: 3rem;
  margin-right: 3rem;
  padding: 30px 10px 10px 10px;
  font-size: 22px;
  text-shadow: .5px .5px #985555f5;
  font-family: 'Gayathri', sans-serif;
}

#people-list{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  list-style: none;
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
  padding: 80px 10px 10px 10px;
  text-shadow: 1.5px 1.5px #d06c2ff5;
}

#tribe-click{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  padding: 30px 10px 10px 10px;
  text-shadow: 1.5px 1.5px #fbfbfb;
  text-decoration-line: underline;
}


#population{
  font-size: 30px;
}

#history-header{
  text-shadow: 1.3px 1.3px #d06c2ff5;
}

#culture-header{
  text-shadow: 1.3px 1.3px #d06c2ff5;
}

button{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: 3px solid rgb(48, 119, 174);  
  border-radius: 15px;
  transition: 0.3s;
}

button:hover {
  cursor: pointer;
  background-color: #269426;
  color: #000000;
  border: 3px solid rgb(198, 211, 52);  
  opacity: 1;
}

#flag{
  width: 100%;
  position: fixed;
  left: 0px;
  top: 40px;
  z-index: -1;
  width: 100%;
  height: auto;  
}

#event-container{
  display: grid;
  background-color: rgba(12, 12, 12, 0.454);
  width: 50%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-rows: auto;
  height: 100%;
}

#form{
  color: white;
}

#time {
  text-decoration-line: underline;
}


/* pics below                           */

#history-image{
  opacity: 0.27;
  position: absolute;
  left: 0px;
  top: 40px;
  z-index: -1;
  width: 100%;
  height: auto;
  filter: contrast(50%);filter: contrast(50%);
}

#family-image{
  opacity: 0.47;
  position: fixed;
  left: 0px;
  top: 40px;
  z-index: -1;
  width: 100%;
  height: auto;
  filter: contrast(50%);filter: contrast(50%);
}

#parade-image{
  opacity: 0.4;
  position: absolute;
  left: 0px;
  top: 40px;
  z-index: -1;
  width: 100%;
  height: auto;
  filter: contrast(180%);filter: contrast(180%);
}



